tabulate
faiss-cpu
chromadb
langchain
langchain-community
langchain-core
langchain-ollama
langchain-groq
langchain-huggingface
langchain-experimental
sentence-transformers
streamlit
pypdf
pandas
python-dotenv
